<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresos-Gastos:{{title}}</title>
</head>
<!-- ésto es un comentario -->
<style>
    table,th,td{
        border: 1px solid black;
    }
</style>

<body>
    <header>
        <div>
            <a href="/">Inicio</a>
            <a href="/new">Nuevo</a>
          
        </div>
        <h1 style="background-color: blue;">Aplicación Web flask de Gastos y Ingresos</h1>
    </header>
    <section>
        {#ésto es un comentario en jinja#}
        {% block pageBase %} {#ésto es un huevo para recirbir una plantilla html#}
        {% endblock %}

    </section>   
    <footer>
        &copy;2025 Todos los derechos reservados
    </footer>            
</body>
</html>