<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresos-Gastos:{{title}}</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/pico.css">
   
</head>
<!-- ésto es un comentario -->

<body>
    <header>
        <div>
            <a href="/" class="miEstilo1">Inicio</a>
            <a href="/new" class="miEstilo2">Nuevo</a>
          
        </div>
        <h1 style="background-color: blue;">Aplicación Web flask de Gastos y Ingresos</h1>
    </header>
    <section>
        {#ésto es un comentario en jinja#}
        {% block pageBase %} {#ésto es un huevo para recirbir una plantilla html#}
        {% endblock %}

    </section>   
    <footer>
        &copy;2025 Todos los derechos reservados
    </footer>   
    
</body>
</html>