{% extends "base.html" %}

{% block pageBase %}

<h1>Esto seria un registro de Ingresos-Gastos</h1>
        <form>
            <label>Fecha:</label><br>
            <input type="date" name="fecha"><br>
            <label>Concepto:</label><br>
            <input type="text"name="concepto"><br>
            <label>Monto:</label><br>
            <input type="number"name="monto"><br><br>
            <button type="submit">Guardar</button><br>
          </form>    
          <a href="/">Volver</a>
{% endblock%}